{{> header title="Home"}}

<div class="main-container">
    <div class="left-side-bar" id="left-side-bar">
        <div id="channels-container">
            <a class="channel selected" href="/">
                Home
            </a>
        </div>
        <div class="new-channel" class="fake-channel-button-container">
            <button id="new-channel-button" class="fake-channel-button">New Channel</button>
            <dialog id="new-channel-dialog">
                <button autofocus id="new-channel-button-x">Close</button>
                <div>
                    <input type="text" id="new-channel-button-name-input" placeholder="Channel Name">
                    <button id="new-channel-button-create">Create</button>
                </div>
            </dialog>
        </div>
    </div>
    <div class="main">
        <section>
            <h1>Account</h1>
            <div style="margin-bottom: 16px;">
                <label for="nickname">Nickname:</label>
                <input type="string" id="account-nickname-input" value="{{user.nickname}}">
            </div>
            <button id="update-nickname-button">Save</button>
        </section>
    </div>
    <div class="right-side-bar" id="right-side-bar">

    </div>
</div>

<script src="/handlebars.min.js"></script>
<script src="/js/hbs.js"></script>
<script src="/js/utils.js"></script>
<script src="/js/websocket-client.js"></script>
<script src="/js/script.js"></script>
<script src="/js/channels.js"></script>
<script src="/js/account.js"></script>
