<style>
    @import url('/css/views/channel.css');
</style>

{{> header }}

<div class="main-container">
    {{> channel-list }}
    <div id="main">
        <div id="unjoined-call-container" {{#if ongoingCall}}{{else}}style="display: none;"{{/if}}>
            <h1 style="color: var(--highlight)">Ongoing Call</h1>
        </div>
        <div id="call-container" style="display: none;">
            <div id="call-peers-container">
            </div>
            <div id="call-controls">
                <button onclick="window.endCall()">Leave</button>
            </div>
        </div>
        <div class="chat-messages-container" id="chat-messages-container">
            {{#each messages}}
            {{>message this}}
            {{/each}}
        </div>
        <div class="chat-input-container">
            <div>
                <input type="text" placeholder="Message" id="chat-input">
                <button id="chat-add-attachment" title="Attach Files"><i class="fa fa-paperclip"></i></button>
                <button id="chat-send" title="Send"><i class="fa fa-send"></i></button>
            </div>
            <div>
                <input type="file" id="chat-input-attachment" style="display:none">
                <div id="chat-input-attachments-container"></div>
                <div id="chat-input-attachments-container-internal"></div>
            </div>
        </div>
    </div>
    <div class="right-side-bar" id="right-side-bar">
        <div id="users-container">
            {{#each members}}
            {{>user-item this}}
            {{/each}}
        </div>
    </div>
    {{>user-popup}}
</div>

<script src="/handlebars.min.js"></script>
<script src="/js/hbs.js"></script>
<script src="/js/hbs-helpers.js"></script>
<script src="/js/utils.js"></script>
<script src="/js/websocket-client.js"></script>
<script src="/js/script.js"></script>
<script src="/js/channels.js"></script>
<script src="/js/messaging.js"></script>
<script src="/js/invitations.js"></script>
<script src="/js/bundles.js"></script>
<script src="/js/users.js"></script>
<script src="/js/call.js"></script>
