{{> header }}

<div class="main-container">
    {{> channellist }}
    <div class="main">
        <div class="chat-messages-container" id="chat-messages-container">
        </div>
        <div class="chat-input-container">
            <input type="text" placeholder="Message" id="chat-input">
            <button id="chat-send">Send</button>
        </div>
    </div>
    <div class="right-side-bar" id="right-side-bar">
        <div id="users-container">

        </div>
    </div>
</div>

<script src="/handlebars.min.js"></script>
<script src="/js/hbs.js"></script>
<script src="/js/utils.js"></script>
<script src="/js/websocket-client.js"></script>
<script src="/js/script.js"></script>
<script src="/js/channels.js"></script>
<script src="/js/messaging.js"></script>
<script src="/js/invitations.js"></script>
<script src="/js/bundles.js"></script>
