<div class="top-bar">
    <div class="top-bar-left">
        <button id="button-toggle-left-side-bar">Channels</button>
        <select id="select-theme">
            <option value="default">Default</option>
            <option value="google">Google Dark</option>
            <option value="rosepine">Rosé Pine</option>
        </select>
        <script>
                (() => {
                    const selectThemeElement = document.getElementById('select-theme')
                    selectThemeElement.value = localStorage.getItem('theme')
                    selectThemeElement.addEventListener('input', () => {
                        const theme = selectThemeElement.value
                        localStorage.setItem('theme', theme)
                        document.getElementById('theme-link').href = `/themes/${theme}.css`
                    })
                })()
        </script>
        <span style="text-wrap-mode: nowrap; margin-left: 16px;">
            Logged in as <b>{{user.username}}</b>
            <a href="/logout">Logout</a>
        </span>
    </div>
    <div class="top-bar-center">
        <span>{{channel.name}}</span>
        <button onclick="window.leaveChannel()">Leave Channel</button>
    </div>
    <div class="top-bar-right">
        <span id="label-status"></span>
        <button id="button-toggle-right-side-bar">Users</button>
    </div>
</div>

<div class="main-container">
    <div class="left-side-bar" id="left-side-bar">
        <div id="channels-container">
            <a class="channel" href="/">
                Home
            </a>
        </div>
        <div class="new-channel" class="fake-channel-button-container">
            <button id="new-channel-button" class="fake-channel-button">New Channel</button>
            <dialog id="new-channel-dialog">
                <button autofocus id="new-channel-button-x">Close</button>
                <div>
                    <input type="text" id="new-channel-button-name-input" placeholder="Channel Name">
                    <button id="new-channel-button-create">Create</button>
                </div>
            </dialog>
        </div>
        <div class="new-invitation" class="fake-channel-button-container">
            <button id="new-invitation-button" class="fake-channel-button">Invite</button>
            <dialog id="new-invitation-dialog">
                <button autofocus id="new-invitation-button-x">Close</button>
                <div>
                    <div id="invitations-container">

                    </div>
                    <button id="new-invitation-button-create">Create</button>
                </div>
            </dialog>
        </div>
    </div>
    <div class="main">
        <div class="chat-messages-container" id="chat-messages-container">
        </div>
        <div class="chat-input-container">
            <input type="text" placeholder="Message" id="chat-input">
            <button id="chat-send">Send</button>
        </div>
    </div>
    <div class="right-side-bar" id="right-side-bar">

    </div>
</div>

<script src="/handlebars.min.js"></script>
<script src="/js/hbs.js"></script>
<script src="/js/utils.js"></script>
<script src="/js/websocket-client.js"></script>
<script src="/js/script.js"></script>
<script src="/js/channels.js"></script>
<script src="/js/messaging.js"></script>
<script src="/js/invitations.js"></script>
