{{> header title="Home"}}

<div class="main-container">
    {{> channel-list }}
    <div class="main">
    </div>
    <div class="right-side-bar" id="right-side-bar">

    </div>
</div>

<script src="/handlebars.min.js"></script>
<script>
    (function () {
        var revive    = Handlebars.template,
            templates = Handlebars.templates = Handlebars.templates || {};

        {{#templates}}
        templates['{{{name}}}'] = revive({{{template}}});
        {{/templates}}
    }());
</script>
<script src="/js/hbs.js"></script>
<script src="/js/utils.js"></script>
<script src="/js/websocket-client.js"></script>
<script src="/js/script.js"></script>
<script src="/js/channels.js"></script>
<script src="/js/bundles.js"></script>
