<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .middle {
        border: 1px solid #888;
    }

    .middle h1 {
        text-align: center;
    }

    .middle form {
        display: flex;
        flex-direction: column;
        padding: 16px;
        margin: 16px;
    }

    .middle input {
        margin: 4px;
        display: block;
    }
</style>

<div class="middle">
    {{>logo}}

    <form method="post" action="/register">
        <input type="text" name="username" id="username" placeholder="Username" required>
        <input type="password" name="password" id="password" placeholder="Password" required>
        <input type="password" id="password-again" placeholder="Password again" required>
        <meter min="0" max="100" low="40" high="80" optimum="100" id="password-strength"></meter>
        <input type="hidden" name="redirect" id="redirect" value="{{redirect}}">
        <span style="color: #c44242; font-weight: bold;" id="label-error">{{error}}</span>
        <script>
            {
                const params = new URLSearchParams(window.location.search)
                const error = params.get('error')
                if (error) {
                    document.getElementById('label-error').textContent = error
                }
                const redirect = params.get('redirect')
                if (redirect) {
                    document.getElementById('redirect').value = redirect
                }
            }
        </script>
        <input type="submit" value="Register">
        <a href="/login">
            Already have an account?
        </a>
    </form>
</div>

<script src="/handlebars.min.js"></script>
<script src="/js/hbs.js"></script>
<script src="/js/hbs-helpers.js"></script>
<script src="/js/utils.js"></script>
<script src="/js/password.js"></script>
<script>
    window['registerPasswordInputs'](
        document.getElementById('password'),
        document.getElementById('password-again'),
        document.getElementById('password-strength')
    )
</script>
