@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

html, body {
    height: 100%;
    background-color: var(--base1);
    color: var(--text);
}

dialog {
    color: var(--text);
}

body {
    margin: 0px;
}

* {
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
}

input {
    border: 2px solid var(--base3);
    background-color: var(--input-background);
    color: var(--text);
    border-radius: var(--border-radius);
}

:focus-visible {
    outline: 2px solid var(--highlight);
}

button,
input[type=submit],
select,
.file-input-label,
.button {
    border: 2px solid var(--base3);
    border-radius: var(--border-radius);
    color: var(--text);
    cursor: pointer;
    background-color: var(--button-background);
    font-size: 0.8em;
    padding-inline: 6px;
    padding-block: 1px;
    text-decoration: none;
}

button:hover,
input[type=submit]:hover,
select:hover,
button:active,
input[type=submit]:active,
select:active,
.file-input-label:hover,
.file-input-label:active,
.button:hover,
.button:active {
    background-color: var(--base3);
    border: 2px solid var(--highlight);
    color: var(--highlight);
}

a {
    color: var(--text-link);
}

hr {
    border: none;
    border-top: 2px solid var(--base3);
}

body {
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
}

* {
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
}

.main-container {
    display: flex;
    flex: 1 1;
    overflow: hidden;
}

#main {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    overflow-x: hidden;
}

.left-side-bar {
    flex: 0 0 160px;
    background-color: var(--base2);
}

.right-side-bar {
    flex: 0 0 160px;
    background-color: var(--base2);
}

#button-toggle-left-side-bar,
#button-toggle-right-side-bar {
    display: none;
}

@media screen and (max-width: 700px) {

    .left-side-bar {
        flex: 1 1;
    }

    .right-side-bar {
        flex: 1 1;
    }

    #button-toggle-left-side-bar,
    #button-toggle-right-side-bar {
        display: unset;
    }

    .left-side-bar:not(.side-bar-shown) {
        display: none;
    }

    .right-side-bar:not(.side-bar-shown) {
        display: none;
    }

    #self-username-label {
        display: none;
    }

    #main.main-hidden {
        display: none;
    }
}

.left-side-bar>h1 {
    font-size: 1em;
    margin: 4px;
    font-weight: normal;
    color: var(--text-dark);
}

.link {
    cursor: pointer;
}

.remove-button {
    background-color: transparent !important;
    border: none !important;
    outline: none !important;
    float: right;
    margin: 1px;
}

.remove-button:focus-visible {
    color: var(--highlight);
}

.icon-button {
    background-color: transparent !important;
    border: none !important;
    outline: none !important;
    padding: 0px;
}

button>i {
    font-size: 16px;
}

button>i.fa-2x {
    font-size: 1.7em;
    vertical-align: middle;
}

i.fa {
    width: 1em;
    text-align: center;
}
