/*#region Body & Html */

body {
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
}

* {
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
}

/*#endregion*/

/*#region Top bar */

.top-bar {
    display: flex;
    flex: 0 0 40px;
    background-color: var(--base3);
    z-index: 1;
    align-items: center;
    font-weight: bold;
}

.top-bar-right,
.top-bar-left {
    flex: 1 1;
    display: flex;
    height: 100%;
}

.top-bar-center {
    flex: 1 1 100%;
    justify-content: center;
    display: flex;
}

/*#endregion*/

/*#region Main container */

.main-container {
    display: flex;
    flex: 1 1;
    overflow: hidden;
}

.main {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    overflow-x: hidden;
}

/*#endregion*/

/*#region Side bars */

.left-side-bar {
    flex: 0 0 160px;
    background-color: var(--base2);
}

.right-side-bar {
    flex: 0 0 160px;
    background-color: var(--base2);
}

#button-toggle-left-side-bar,
#button-toggle-right-side-bar {
    display: none;
}

@media screen and (max-width: 600px) {

    #button-toggle-left-side-bar,
    #button-toggle-right-side-bar {
        display: unset;
    }

    .left-side-bar:not(.side-bar-shown) {
        display: none;
    }

    .right-side-bar:not(.side-bar-shown) {
        display: none;
    }

    #self-username-label {
        display: none;
    }
}

/*#endregion*/

/*#region Chat input */

.chat-messages-container {
    flex: 1 1 100%;
    overflow-y: auto;
}

.chat-input-container {
    display: flex;
    flex: 0 0 40px;
    flex-direction: column;
}

.chat-input-container > div:nth-child(1) {
    display: flex;
    flex-direction: row;
}

.chat-input-container > div:nth-child(2) {
    display: flex;
    flex-direction: row;
    margin: 8px;
}

#chat-input-attachments-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#chat-input-attachments-container > div {
    flex-shrink: 0;
    margin: 4px;
}

#chat-input {
    flex: 1 1 100%;
    margin: 8px;
}

#chat-input {
    flex: 1 1 100%;
    margin: 8px;
    padding: 4px;
}

#chat-input-attachments-container > div {
    height: fit-content;
}

#chat-input-attachments-container > div:not(:last-of-type) {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--base3);
    border-radius: var(--border-radius);
    padding: 4px;
}

#chat-input-attachments-container > div:not(:last-of-type) img {
    max-width: 64px;
    border-radius: var(--border-radius);
    margin: 4px;
}

#chat-input-attachments-container > div:not(:last-of-type) span {
    color: var(--text-dark);
}

#chat-send {
    flex: 0 0;
    margin: 8px;
    padding: 4px;
}

/*#endregion*/

/*#region Message */

.message {
    margin: 16px;
    border: 2px solid var(--base3);
    padding: 8px;
    border-radius: var(--border-radius);
}

.message-time {
    font-size: 0.75em;
    color: var(--text-dark);
    margin: 6px;
}

.message-header {
    display: flex;
    align-items: end;
    border-bottom: 2px solid var(--base3);
}

.message-author {
    display: flex;
    align-items: center;
}

.message-author > span {
    margin: 4px;
}

.message-dropdown {
    position: relative;
    display: flex;
    align-items: center;
}

.message-dropdown > span {
    margin-left: 8px;
    margin-bottom: 8px;
    cursor: pointer;
    user-select: none;
}

.message-dropdown .dropdown-content {
    display: none;
}

.message-dropdown:hover .dropdown-content {
    display: block;
}

/*#endregion*/

/*#region*/

.channel {
    margin: 4px;
    border: 2px solid var(--base3);
    padding: 4px 8px;
    border-radius: var(--border-radius);
    color: var(--text);
    text-decoration: none;
    display: block;
    background-color: var(--button-background);
}

.channel:active,
.channel:hover {
    background-color: var(--base3);
    border: 2px solid var(--highlight);
    color: var(--highlight);
}

.channel.selected {
    background-color: var(--base3);
    color: var(--highlight);
}

/*#endregion*/

dialog {
    background-color: var(--base1);
    border: 2px solid var(--base2);
    box-shadow: 0px 0px 10px #000;
    border-radius: var(--border-radius);
}

dialog ::backdrop {
    background-color: #000;
    opacity: 0.40;
}

.fake-channel-button-container {
    display: flex;
    flex-direction: column;
}

.fake-channel-button {
    margin: 4px;
    border: 2px solid var(--base3);
    padding: 4px 8px;
    border-radius: var(--border-radius);
    color: var(--text);
    flex: 1 1 100%;
    cursor: pointer;
    background-color: var(--button-background);
}

.fake-channel-button:hover,
.fake-channel-button:active {
    background-color: var(--base3);
    border: 2px solid var(--highlight);
    color: var(--highlight);
}

.invitation-item {
    margin: 4px 0px;
    border: 2px solid var(--base3);
    padding: 4px 8px;
    border-radius: var(--border-radius);
    color: var(--text);
    flex: 1 1 100%;
    background-color: var(--button-background);
}

.user-item {
    margin: 4px 0px;
    border: 2px solid var(--base3);
    padding: 4px 8px;
    border-radius: var(--border-radius);
    color: var(--text);
    flex: 1 1 100%;
    background-color: var(--button-background);
    display: flex;
    align-items: center;
}

.user-nickname {
    margin: 4px;
}

.user-avatar-stack > .user-status {
    position: absolute;
    transform: translate(-75%, 200%);
    outline: 2px solid var(--button-background);
}

.user-status {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.user-status-online {
    background-color: var(--status-online);
}

.user-status-offline {
    background-color: var(--status-offline);
}

.main section {
    margin: 32px 32px 0 32px;
    border: 2px solid var(--base3);
    padding: 16px;
    border-radius: var(--border-radius);
    color: var(--text);
}

.main section h1 {
    margin-top: 4px;
}

.main section h2 {
    font-size: 1.2em;
}

.user-avatar-stack {
    display: inline-block;
}

.user-avatar {
    border-radius: 50%;
    display: inline-block;
}

.empty-avatar {
    display: none;
}

#icon-status {
    border-width: 4px;
    border-style: solid;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    transform: translate(-75%, 150%);
}

#icon-status.loading {
    border-color: #b3b3b3;
    border-bottom-color: transparent;
    animation: icon-status-rotation 1s linear infinite;
}

#icon-status.connected {
    background-color: var(--status-online);
    border-color: var(--status-online);
}

@keyframes icon-status-rotation {
    0% {
        transform: translate(-75%, 150%) rotate(0deg);
    }

    100% {
        transform: translate(-75%, 150%) rotate(360deg);
    }
}

.new-bundle-channel-item {
    margin: 6px;
    border: 2px solid var(--base3);
    border-radius: var(--border-radius);
    color: var(--text);
}

.bundle-item.collapsed > .bundle-dropdown {
    display: none;
}

.bundle-item {
    border: 2px solid var(--base3);
    border-radius: var(--border-radius);
    margin: 4px;
    padding: 4px 8px;
    color: var(--text);
    background-color: var(--button-background);
}

.bundle-item > span {
    display: block;
    flex: 1 1 100%;
    cursor: pointer;
}

.bundle-item > span:hover,
.bundle-item > span:active {
    color: var(--highlight);
}

.bundle-item .x {
    float: right;
}

.left-side-bar > h1 {
    font-size: 1em;
    margin: 4px;
    font-weight: normal;
    color: var(--text-dark);
}

.link {
    cursor: pointer;
}

.message-loading {
    opacity: .8;
}

.friend-search-item {
    border: 2px solid var(--base3);
    border-radius: var(--border-radius);
    margin: 4px 0px;
    padding: 4px 8px;
    color: var(--text);
    background-color: var(--button-background);
}

.remove-button {
    background-color: transparent !important;
    border: none !important;
    outline: none !important;
    float: right;
    margin: 1px;
}

.close-button {
    background-color: transparent !important;
    border: none !important;
    outline: none !important;
    padding: 0px;
    font-size: 1.5em;
    color: var(--text-dark);
}

.remove-button:focus-visible,
.close-button:focus-visible {
    color: var(--highlight);
}

.icon-button {
    background-color: transparent !important;
    border: none !important;
    outline: none !important;
    padding: 0px;
}

button > i {
    font-size: 16px;
}

.dialog-header {
    display: flex;
    align-items: center;
}

.dialog-title {
    color: var(--text);
    flex: 1;
    font-weight: bold;
    font-size: 2em;
}

.dialog-header > .close-button {
    margin-left: 32px;
}

.message-attachments {
    border-top: 2px solid var(--base3);
    padding-top: 4px;
    overflow-x: scroll;
    display: flex;
    padding-bottom: 0px;
}

.message-attachment {
    margin: 4px;
}

.message-attachment > img {
    border-radius: var(--border-radius);
    display: inline-block;
}

button > i.fa-2x {
    font-size: 1.7em;
    vertical-align: middle;
}

#call-peers-container {
    display: flex;
    overflow: auto;
}

#call-controls {
    padding: 16px;
    display: flex;
    justify-content: center;
}

.call-peer {
    margin: 16px;
    padding: 4px;
    border-radius: var(--border-radius);
    border: 2px solid var(--base3);
}

.call-peer > video {
    max-width: 100%;
    max-height: 100%;
}

.call-peer-controls-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
}

.call-peer-controls {
    position: absolute;
    transform: translateY(calc(-100% - 8px));
    opacity: .5;
    background-color: var(--base2);
    transition-duration: 200ms;
    padding: 8px;
    border-radius: var(--border-radius);
}

.call-peer:hover .call-peer-controls {
    position: absolute;
    opacity: 1;
    transform: translateY(calc(-100% - 16px));
}

#unjoined-call-container {
    flex: 0 0 content;
    background-color: var(--base2);
    overflow: auto;
    display: flex;
    justify-content: center;
    padding: 16px;
}

#unjoined-call-container h1 {
    margin: 4px;
    font-size: 1.1em;
}

#unjoined-call-container button {
    padding-left: 24px;
    padding-right: 24px;
    margin-left: 16px;
}

#call-container {
    flex: 1 0 50%;
    background-color: var(--base2);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

i.fa {
    width: 1em;
    text-align: center;
}
