@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/*#region Body & Html */

html, body {
    height: 100%;
    background-color: var(--base1);
    color: var(--text);
}

body {
    margin: 0px;
}

* {
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
}

/*#endregion*/

/*#region Input */

input {
    border: 2px solid var(--base3);
    background-color: var(--input-background);
    color: var(--text);
    border-radius: var(--border-radius);
}

:focus-visible {
    outline: 2px solid var(--highlight);
}

button,
input[type=submit],
select,
.file-input-label,
.button {
    border: 2px solid var(--base3);
    border-radius: var(--border-radius);
    color: var(--text);
    cursor: pointer;
    background-color: var(--button-background);
    font-size: 0.8em;
    padding-inline: 6px;
    padding-block: 1px;
    text-decoration: none;
}

button:hover,
input[type=submit]:hover,
select:hover,
button:active,
input[type=submit]:active,
select:active,
.file-input-label:hover,
.file-input-label:active,
.button:hover,
.button:active {
    background-color: var(--base3);
    border: 2px solid var(--highlight);
    color: var(--highlight);
}

a {
    color: var(--text-link);
}

/*#endregion*/
