/*#region Body & Html */

body {
    display: flex;
    flex-direction: column;
}

* {
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
}

/*#endregion*/

/*#region Top bar */

.top-bar {
    display: flex;
    flex: 0 0 40px;
    background-color: var(--base3);
    z-index: 1;
    align-items: center;
    font-weight: bold;
}

.top-bar-left {
    flex: 1 1;
}

.top-bar-center {
    flex: 1 1 100%;
    text-align: center;
}

.top-bar-right {
    flex: 1 1;
}

/*#endregion*/

/*#region Main container */

.main-container {
    display: flex;
    flex: 1 1;
    overflow: hidden;
}

.main {
    display: flex;
    flex: 1 1;
    flex-direction: column;
}

/*#endregion*/

/*#region Side bars */

.left-side-bar {
    flex: 0 0 160px;
    background-color: var(--base2);
}

.right-side-bar {
    flex: 0 0 160px;
    background-color: var(--base2);
}

#button-toggle-left-side-bar,
#button-toggle-right-side-bar {
    display: none;
}

@media screen and (max-width: 600px) {
    #button-toggle-left-side-bar,
    #button-toggle-right-side-bar {
        display: unset;
    }

    .left-side-bar:not(.side-bar-shown) {
        display: none;
    }
    
    .right-side-bar:not(.side-bar-shown) {
        display: none;
    }
}

/*#endregion*/

/*#region Chat input */

.chat-messages-container {
    flex: 1 1 100%;
    overflow-y: auto;
}

.chat-input-container {
    display: flex;
    flex: 0 0 40px;
}

#chat-input {
    flex: 1 1 100%;
    margin: 8px;
}

#chat-input {
    flex: 1 1 100%;
    margin: 8px;
    padding: 4px;
}

#chat-send {
    flex: 0 0;
    margin: 8px;
    padding: 4px;
}

/*#endregion*/

/*#region Message */

.message {
    margin: 16px;
    border: 2px solid var(--base3);
    padding: 8px;
    border-radius: var(--border-radius);
}

.message-header {
    border-bottom: 2px solid var(--base3);
}

.message-time {
    font-size: 0.5em;
    color: var(--text-dark);
}

/*#endregion*/
