/*#region Body & Html */

body {
    display: flex;
    flex-direction: column;
}

* {
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
}

/*#endregion*/

/*#region Top bar */

.top-bar {
    display: flex;
    flex: 0 0 40px;
    background-color: var(--base3);
    z-index: 1;
    align-items: center;
    font-weight: bold;
}

.top-bar-left {
    flex: 1 1;
    display: flex;
}

.top-bar-center {
    flex: 1 1 100%;
    text-align: center;
}

.top-bar-right {
    flex: 1 1;
    display: flex;
}

/*#endregion*/

/*#region Main container */

.main-container {
    display: flex;
    flex: 1 1;
    overflow: hidden;
}

.main {
    display: flex;
    flex: 1 1;
    flex-direction: column;
}

/*#endregion*/

/*#region Side bars */

.left-side-bar {
    flex: 0 0 160px;
    background-color: var(--base2);
}

.right-side-bar {
    flex: 0 0 160px;
    background-color: var(--base2);
}

#button-toggle-left-side-bar,
#button-toggle-right-side-bar {
    display: none;
}

@media screen and (max-width: 600px) {

    #button-toggle-left-side-bar,
    #button-toggle-right-side-bar {
        display: unset;
    }

    .left-side-bar:not(.side-bar-shown) {
        display: none;
    }

    .right-side-bar:not(.side-bar-shown) {
        display: none;
    }
}

/*#endregion*/

/*#region Chat input */

.chat-messages-container {
    flex: 1 1 100%;
    overflow-y: auto;
}

.chat-input-container {
    display: flex;
    flex: 0 0 40px;
}

#chat-input {
    flex: 1 1 100%;
    margin: 8px;
}

#chat-input {
    flex: 1 1 100%;
    margin: 8px;
    padding: 4px;
}

#chat-send {
    flex: 0 0;
    margin: 8px;
    padding: 4px;
}

/*#endregion*/

/*#region Message */

.message {
    margin: 16px;
    border: 2px solid var(--base3);
    padding: 8px;
    border-radius: var(--border-radius);
}

.message-header {
    border-bottom: 2px solid var(--base3);
}

.message-time {
    font-size: 0.5em;
    color: var(--text-dark);
}

/*#endregion*/

/*#region*/

.channel {
    margin: 4px;
    border: 2px solid var(--base3);
    padding: 4px 8px;
    border-radius: var(--border-radius);
    color: var(--text);
    text-decoration: none;
    display: block;
    background-color: var(--button-background);
}

.channel:active,
.channel:hover {
    background-color: var(--base3);
    border: 2px solid var(--highlight);
    color: var(--highlight);
}

.channel.selected {
    background-color: var(--base3);
    color: var(--highlight);
}

/*#endregion*/

dialog {
    background-color: var(--base1);
    border: 2px solid var(--base2);
    box-shadow: 0px 0px 10px #000;
    border-radius: var(--border-radius);
}

dialog ::backdrop {
    background-color: #000;
    opacity: 0.40;
}

.fake-channel-button-container {
    display: flex;
    flex-direction: column;
}

.fake-channel-button {
    margin: 4px;
    border: 2px solid var(--base3);
    padding: 4px 8px;
    border-radius: var(--border-radius);
    color: var(--text);
    flex: 1 1 100%;
    cursor: pointer;
    background-color: var(--button-background);
}

.fake-channel-button:hover,
.fake-channel-button:active {
    background-color: var(--base3);
    border: 2px solid var(--highlight);
    color: var(--highlight);
}

.invitation-item {
    margin: 4px 0px;
    border: 2px solid var(--base3);
    padding: 4px 8px;
    border-radius: var(--border-radius);
    color: var(--text);
    flex: 1 1 100%;
    background-color: var(--button-background);
}

.user-item {
    margin: 4px 0px;
    border: 2px solid var(--base3);
    padding: 4px 8px;
    border-radius: var(--border-radius);
    color: var(--text);
    flex: 1 1 100%;
    background-color: var(--button-background);
}

.user-status {
    display: inline-block;
    width: 1em;
    height: 1em;
    transform: translateY(0.1em);
    border-radius: 50%;
}

.user-status-online {
    background-color: var(--status-online);
}

.user-status-offline {
    background-color: var(--status-offline);
}

.main section {
    margin: 32px;
    border: 2px solid var(--base3);
    padding: 16px;
    border-radius: var(--border-radius);
    color: var(--text);
}

.main section h1 {
    margin-top: 4px;
}

.user-avatar {
    border-radius: 50%;
    display: inline-block;
    transform: translateY(2px);
}

.empty-avatar {
    display: none;
}

#icon-status {
    width: 10px;
    height: 10px;
    border-width: 4px;
    border-style: solid;
    border-radius: 50%;
    margin-right: 16px;
}

#icon-status.loading {
    border-color: #b3b3b3;
    border-bottom-color: transparent;
    animation: rotation 1s linear infinite;
}

#icon-status.connected {
    background-color: var(--status-online);
    border-color: var(--status-online);
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.new-bundle-channel-item {
    margin: 6px;
    border: 2px solid var(--base3);
    border-radius: var(--border-radius);
    color: var(--text);
}

.bundle-item.collapsed > .bundle-channels {
    display: none;
}

.bundle-item > span {
    display: block;
    margin: 4px;
    border: 2px solid var(--base3);
    padding: 4px 8px;
    border-radius: var(--border-radius);
    color: var(--text);
    flex: 1 1 100%;
    cursor: pointer;
    background-color: var(--button-background);
}

.bundle-item > span:hover,
.bundle-item > span:active {
    background-color: var(--base3);
    border: 2px solid var(--highlight);
    color: var(--highlight);
}

.bundle-item > .bundle-channels {
    transition: all 200ms linear;
}
