<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Message App</title>
    <style>
        body {
            background-color: #000;
        }
    </style>
    <link rel="stylesheet" href="/themes/google.css" id="theme-link">
    <script>document.getElementById("theme-link").href = `/themes/${(localStorage.getItem('theme') ?? 'google')}.css`</script>
    <link rel="stylesheet" href="/base.css">
    <link rel="stylesheet" href="/style.css">
    <script>
        window.ENV = {
            {{#if user}}'user': {{{JSON user}}},{{/if}}
            {{#if channel}}'channel': {{{JSON channel}}},{{/if}}
        }
    </script>
</head>

<body>
    {{{body}}}
</body>

</html>
