<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Message App</title>
    <link rel="stylesheet" href="/themes/{{#switch user.theme}}{{#case 1}}default{{/case}}{{#case 2}}google{{/case}}{{#case 3}}rosepine{{/case}}{{#default}}default{{/default}}{{/switch}}.css" id="theme-link">
    <link rel="stylesheet" href="/base.css">
    <link rel="stylesheet" href="/style.css">
    <script>
        window.ENV = {
            {{#if user}}'user': {{{JSON user}}},{{/if}}
            {{#if channel}}'channel': {{{JSON channel}}},{{/if}}
        }
    </script>
</head>

<body>
    {{{body}}}
</body>

</html>
