<div class="message">
    <div class="message-header">
        <span class="message-author">{{user.nickname}}</span>
        <span class="message-time">{{createdAt}}</span>
    </div>
    <div class="message-content">
        {{content}}
    </div>
</div>
