<div class="message">
    <div class="message-header">
        <span class="message-author">
            <img src="/users/{{senderId}}/avatar.webp?size=16" width=16 height=16 class="user-avatar" onerror="this.classList.add('empty-avatar')">
            {{nickname}}
        </span>
        <span class="message-time">at {{createdAt}}</span>
    </div>
    <div class="message-content">
        {{content}}
    </div>
</div>
