<div class="left-side-bar" id="left-side-bar">
    <!--
    <div>
        <a class="channel" href="/">
            Home
        </a>
    </div>
    -->
    <h1 id="bundles-header" style="display: none;">Groups</h1>
    <div id="bundles-container">
    </div>
    <h1 id="channels-header" {{#unless channels}} style="display: none;" {{/unless}}>Channels</h1>
    <div id="channels-container">
        {{#each channels}}
            {{>channel this}}
        {{/each}}
    </div>
    <div class="new-channel fake-channel-button-container">
        <button id="new-channel-button" class="fake-channel-button">New Channel</button>
        <dialog id="new-channel-dialog">
            <button autofocus id="new-channel-button-x">Close</button>
            <div>
                <input type="text" id="new-channel-button-name-input" placeholder="Channel Name">
                <button id="new-channel-button-create">Create</button>
            </div>
        </dialog>
    </div>
    <div class="new-bundle fake-channel-button-container">
        <button id="new-bundle-button" class="fake-channel-button">New Bundle</button>
        <dialog id="new-bundle-dialog">
            <button autofocus id="new-bundle-button-x">Close</button>
            <div>
                <input id="new-bundle-name">
                <select id="new-bundle-select">

                </select>
                <button id="new-bundle-button-add-channel">Add</button>
                <button id="new-bundle-button-create">Create</button>
                <div id="current-bundle-channels">

                </div>
            </div>
        </dialog>
    </div>
</div>