<div class="user-item" id="user-{{id}}">
    <div class="user-avatar-stack">
        {{> useravatar id=id size=24 }}
        <span class="user-status {{#if isOnline}}user-status-online{{else}}user-status-offline{{/if}}"></span>
    </div>
    <span class="user-nickname link" onclick="window.openUser?.('{{id}}')">
        {{nickname}}
    </span>
</div>
