<dialog id="user-popup">
    <button autofocus id="user-popup-x" class="close-button" style="float: right;"><i class="fa fa-remove"></i></button>
    <div id="user-popup-content">
        
    </div>
</dialog>
