@property --border-radius {
    syntax: "<length>";
    inherits: false;
    initial-value: 6px;
}

@property --base1 {
    syntax: "<color>";
    inherits: false;
    initial-value: #191724;
}

@property --base2 {
    syntax: "<color>";
    inherits: false;
    initial-value: #1f1d2e;
}

@property --base3 {
    syntax: "<color>";
    inherits: false;
    initial-value: #26233a;
}

@property --text-dark {
    syntax: "<color>";
    inherits: false;
    initial-value: #908caa;
}

@property --text {
    syntax: "<color>";
    inherits: false;
    initial-value: #e0def4;
}

@property --text-link {
    syntax: "<color>";
    inherits: false;
    initial-value: #c4a7e7;
}

@property --highlight {
    syntax: "<color>";
    inherits: false;
    initial-value: #c4a7e7;
}

@property --input-background {
    syntax: "<color>";
    inherits: false;
    initial-value: #1f1d2e;
}

@property --button-background {
    syntax: "<color>";
    inherits: false;
    initial-value: #1f1d2e;
}

@property --status-online {
    syntax: "<color>";
    inherits: false;
    initial-value: #9ccfd8;
}

@property --status-offline {
    syntax: "<color>";
    inherits: false;
    initial-value: #686868;
}

@property --success {
    syntax: "<color>";
    inherits: false;
    initial-value: #9ccfd8;
}

@property --warning {
    syntax: "<color>";
    inherits: false;
    initial-value: #f6c177;
}

@property --error {
    syntax: "<color>";
    inherits: false;
    initial-value: #eb6f92;
}

* {
    scrollbar-color: var(--input-background) var(--base1);
}
