<div class="top-bar">
    <div class="top-bar-left">
        <button id="button-toggle-left-side-bar">Channels</button>
        <span style="text-wrap-mode: nowrap; margin-left: 16px;">
            Logged in as <b>{{user.nickname}}</b>
            <a href="/logout">Logout</a>
        </span>
    </div>
    <div class="top-bar-center">
        {{#if title}}
        <span>{{title}}</span>
        {{else}}
        <span>{{channel.name}}</span>
        <button onclick="window.leaveChannel()">Leave Channel</button>
        {{/if}}
    </div>
    <div class="top-bar-right">
        <span id="label-status">Loading</span>
        <button id="button-toggle-right-side-bar">Users</button>
    </div>
</div>